footer {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    height: 100px;

    .container {
        justify-content: space-between;
        color: white;

        ul {
            padding: 0;
            li {
                padding: 0;
                line-height: 40px;
                padding-right: 10px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.social {
    ul {
        padding: 0;
        display: flex;
        li {
            a {
                color: white;
                padding: 0 5px;

                i {
                    font-size: large;
                    line-height: 40px;
                }
            }
        }
    }
}
