footer {
    display: flex;
    background-color: #1a1a1a;
    align-items: center;
    height: 120px;

    .container {
        justify-content: space-between;
        color: white;
        .wrapper {
            ul {
                padding: 0;
                li {
                    padding: 0;
                    line-height: 40px;
                    padding-right: 10px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}

.social {
    ul {
        padding: 0;
        display: flex;
        li {
            a {
                color: white;
                padding: 0 5px;

                i {
                    font-size: large;
                    line-height: 40px;
                }
            }
        }
    }
}
